header{
    z-index: 999;
    height: 80px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
}

nav ul{
    display: block;
    width: fit-content;
    margin: auto;
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 20px 30px;

    text-decoration: none;
    color: black;
    position: relative;
}
nav ul a::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 70%;
    left: 15%;
    bottom: 20%;
    background: aqua;
    transform: scale(0.0, 1.0);
    transform-origin: center;
    transition: transform 0.3s;
}
nav ul a:hover::after{
    transform: scale(1.0, 1.0);
}

nav hr{
    border: none;
    width: 100%;
    border-bottom: 1px solid #333;
    margin: 0;
}

.navi li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:10%;
    width: 80%;
    height: 2px;
    background:#0481A2;
    transition: all .3s;
    transform:scale(0, 1);
    transform-origin: center top;
}

