.navi{
    display: flex;
    flex-wrap: wrap;
    margin:0 0 50px 0;
    list-style: none;
}

.navi li a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
}

.navi li{
    margin-bottom: 20px;
}