header{
    position: relative;
    width: 100%;
    height: 15vh;
    z-index: 999;
}

nav{
    display: flex;
    position: fixed;
    height: 10vh;
    width: 100%;
    top:0;
    left: 0;
    background: #FFF;
    box-shadow: 0 0 2.5vw 0px rgba(255, 255, 255, 1.0);
}

nav ul{
    display: flex;
    height: 100%;
    width: fit-content;
    margin: auto;
    padding: auto;
    list-style: none;
    align-items: center;
}
nav ul li{
    display: inline-block;
    text-align: center;
    margin: 2vh 3vw;
}
nav ul li:not(:first-child){
    border-left: 1px solid black;
}
nav ul li a{
    position: relative;
    display: block;
    margin-left: 5vw;
    padding: 0;
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
}
nav ul li a:hover{
    color: aqua;
}
nav ul a::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 90%;
    left: 5%;
    bottom: 0;
    background: aqua;
    transform: scale(0.0, 1.0);
    transform-origin: center;
    transition: transform 0.3s;
}
nav ul a:hover::after{
    transform: scale(1.0, 1.0);
    color: aqua;
}
