@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
html{

}
body{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #324A80 65%, #FFFFFF);
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
.star{
    position: absolute;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8);
    opacity: 0;
    background-color: #FFFFFF;
    z-index: -10;
    animation: twinkle 5s infinite;
}
.smoothText{
    display: block;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}
.smoothTextTrigger{
    display: block;
    transform: translateY(0)skewY(1deg);
}
.--smoothTextPlay{
    animation-name: entryP;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.sections{
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

._section{
    display: flex;
    margin: 5vw 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 2vw;
    text-shadow: 0px 5px 2px rgba(255, 255, 255, 0.2);
    color: #EFEFEF;
}
.section--fadeUpAnime{
    animation-name: fadeUp;
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

#about-me{
    width: 100%;
    margin-top: 5vw;
}
.profile{
    position: relative;
    display: flex;
    width: 60vw;
    height: 15vw;
    left: 0;
    border-radius: 3vw;
    box-shadow: 0px 8px 2px rgba(255, 255, 255, 0.2);
    background: #EFEFEF;
}
._profile{
    position: absolute;
    width: 100%;
    height: 100%;
}
.img{
    width: auto;
    height: 100%;
}
.profile .sentence{
    display: flex;
    text-align: start;
}
.profile .sentence p{
    font-size: 1vw;
}


/* キャリアのCSS */
#performance{
    width: 100%;
    margin-top: 5vw;
}

._performance{
    position: relative;
    display: flex;
    width: 90vw;
    height: 20vw;
    margin: 0 auto;
    padding: 0vw;
    align-content: center;
    border-radius: 1vw;
    background: #EFEFEF;
    box-shadow: 0px 8px 2px rgba(255, 255, 255, 0.2);
}
.informations{
    position: absolute;
    display: flex;
    width: 99%;
    height: 80%;
    margin: 2% 0;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-top: dashed 1px #000000;
    border-bottom: dashed 1px #000000;
    overflow-x: hidden;
    overflow-y: scroll;
    background: red;
}
.information{
    position: relative;
    display: flex;
    width: 80%;
    height: 40%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, .4);
    border-right: 1px solid rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    border-left: 2vw solid #F0F000;
    background: #FFFFFF;
    list-style: none;
    opacity: 0;
}
.information--data{
    position: absolute;
    display: flex;
    width: calc(100% - 2vw);
    height: 100%;
    margin: 0;
    padding-left: 2vw;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
}
.information--date{
    display: flex;
    width: fit-content;
    text-align: left;
}
.information--date p{
    display: flex;
    width: fit-content;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    font-size: 0.8vw;
}
.information--news{
    display: flex;
    width: fit-content;
    font-size: 1.2vw;
}
.information--news p{
    margin: 0;
}

.information--fadeLeftAnime{
    animation-name: fadeLeft;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DevelopmentのCSS*/
#development{
    width: 100%;
    margin-top: 10vw;
}
.works{
    display: flex;
    flex-wrap: wrap;
    width: 92vw;
    height: 170vw;
    margin: 0 auto;
    padding: 0 1vw 0 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 2vw;
    /* background: red; */
    overflow: hidden;
}
/* workの左寄せ用の空の要素 */
.works::after{
    content: "";
    display: flex;
    height: 0;
    width: calc(40% - 2vw);
    margin: 0;
}


/* 制作物の紹介のボックス */
.work{
    position: relative;
    display: flex;
    height: calc(24% - 1vw);
    width: calc(40% - 2vw);
    margin: 0;
    padding: 0;
    background: aqua;
    border-radius: 20px;
    color: #FFFFFF;
    overflow: hidden;
    box-shadow: 0.4vw 0.825vw 0.825vw 0 rgba(200, 200, 174, .4);
}
.work--fadeUpAnime{
    animation-name: fadeUp;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.work--content{
    display: block;
    height: 100%;
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: center;
    top: 0;
}

.work--tittle{
    display: block;
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
    align-items: center;
    background: blue;
}
.work--tittle h4{
    display: inline-block;
    font-size: 1vw;
    color: #FFFFFF;
}
.work--img--content{
    position: relative;
    display: flex;
    width: 100%;
    height: 52%;
    align-items: center;
    justify-content: center;
}
.work--img{
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
    border: 0 ;
    border-radius: 10px;
}
.work--iframe--content{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.work--iframe{
    position: absolute;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    border: 0;
}
.work--interpretation{
    position: absolute;
    display: flex;
    height: 36%;
    width: 80%;
    margin: 1% auto;
    padding: 0% 5% 1% 5%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    text-align: center;
    background:#FFFFFF;
}
.work--interpretation p{
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1vw;
    color: #000000;
    text-indent: 1.5em;
}

.work .work--type{
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0.5vw 6vw;
    top: 4%;
    left: -12%;
    transform: rotate(-45deg);
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-size: 100%;
    color: #000000;
    background: #FFFFFF;
    font-size: 1vw;
    z-index: 10;
}
.work--interpretation .icons{
    position: absolute;
    width: 40%;
    height: 15%;
    margin: 0.5%;
    align-content: center;
    right: 0;
    bottom: 0;
}
.work--interpretation .icons .icon--youtube{
    position: absolute;
    display: flex;
    width: auto;
    height: 100%;
    margin: 0;
    bottom: 0;
    z-index: 10;
}

@media  screen and (max-width:880px) {
    .works{
        display: flex;
        flex-wrap: wrap;
        width: 92vw;
        height: 300vw;
        margin: 0 auto;
        padding: 0 1vw 0 1vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        overflow: hidden;
    }
    /* workの左寄せ用の空の要素 */
    .works::after{
        content: "";
        display: flex;
        height: 0;
        width: calc(40% - 2vw);
        margin: 0;
    }
    .work{
        position: relative;
        display: flex;
        height: calc(14% - 1vw);
        width: calc(100% - 2vw);
        margin: 0;
        padding: 0;
        background: aqua;
        border-radius: 20px;
        color: #FFFFFF;
        overflow: hidden;
        box-shadow: 0.4vw 0.825vw 0.825vw 0 rgba(200, 200, 174, .4);
    }
}